{% extends 'header.html' %}

{% block head %}


<title>Sales Estimator</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


        <form action="/predict" method="post">
            <legend>Sales Estimation Form</legend>
            <div class="mb-3">
                <label class="form-label">Item Identifier</label>
                <input class="form-control" type="text" name="item_identifier" placeholder="Enter a value of item_identifier"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Item Type</label>
                <input class="form-control" type="text" name="item_type" placeholder="Enter a value of item_type"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">Item_Weight</label>
                <input class="form-control" type="text" name="item_weight"
                    placeholder="Enter a value of item_weight" />

            </div>
            <div class="mb-3">
                <label class="form-label">Outlet Type</label>
                <input class="form-control" type="text" name="outlet_type" placeholder="Enter a value of outlet_type"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">Outlet Location Type</label>
                <input class="form-control" type="text" name="outlet_location_type"
                    placeholder="Enter a value of outlet_location_type" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Item Visibility</label>
                <input class="form-control" type="text" name="item_visibility" placeholder="Enter a value of item_visibility"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Outlet Establishment Year</label>
                <input class="form-control" type="text" name="outlet_establishment_year" placeholder="Enter a value Outlet Establishment Year"
                    required />
            </div>
            
            <div class="mb-3">
                <label class="form-label">Outlet Identifier</label>
                <input class="form-control" type="text" name="outlet_identifier"
                    placeholder="Enter a value of outlet_identifier" required />
            </div>
            
            <div class="mb-3">
                <label class="form-label">Item MRP</label>
                <input class="form-control" type="text" name="item_mrp"
                    placeholder="Enter a value of item_mrp" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Outlet Size</label>
                <input class="form-control" type="text" name="outlet_size"
                    placeholder="Enter a value of outlet_size" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Item Fat Content</label>
                <input class="form-control" type="text" name="fat_content"
                    placeholder="Enter a value of item fat content" required />
            </div>

            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Predict Item Sales Value" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              Item Sales price
            </div>
            <div class="card-body">
        {% if context['sales_data'] is not none %}
        <table class="table table-striped">
            <caption>Sales Price Prediction </caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['sales_data'].items() %}



            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td>sales_value </td>
                <td>
                    {{ context['Item_Outlet_Sales'] }}
                </td>
            </tr>
        </table>

        {% else %}
       
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information to estimate sales price of big mart items</p>
            
         

        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}
Footer